@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
    quotes: none;
}    
a {
    text-decoration: none;
}

.header, .main, .article, .footer {
    width:1200px;
    margin: 0 auto;
}
.header {
    height:95px;
}
.logo {
    position: absolute;
    margin: 35px 0;
}
.logo img {
    width:70px;
    height:25px;
}
.navigation {
    position: relative;
}
.menu {
    display:inline-block;
    border:0;
    margin:0 350px 0 175px;
}
.menu-item {
    display:inline-block;
    margin: 35px 25px;
    font-size:20px;
}
.sub-menu {
    display:none;
    position: absolute;
}
.menu-item:hover .sub-menu {
    display:block;
}
.diffLang {
    position: relative;
    display:inline-block;
    font-size:20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left:50px;
    font-size:20px; 
}
.dropdown-content {
    display:none;
    position: absolute;
    background-color: white;
    min-width:130px;
    z-index:1;
}

.dropdown:hover .dropdown-content {
    display:block;
}
.main {
    height:1110px;
}
.mission {
    background:pink;
    height:610px;
    text-align: center;
}
.slogan {
    padding-top:250px;
    font-size:40px;
}
.news {
    padding: 75px 0;
    height:500px;
}
.news-list {
    display:inline-block;
}
.news-list-content {
    font-size:20px;
    margin:35px 0;
}
.news-list-sub {
    color:#02B900;
    font-size:0.9rem;
}
.news-title {
    font-size : 25px;
}
.core {
    height:200px;
    background: #f9f9f9;
}
.coreMenu {
    text-align: center;
}
.coreMenu-content {
    display:inline-block;
    width:215px;
    text-align: left;
    margin:50px 40px;
    font-size:20px;
}
.coreMenu-sub {
    color:gray;
    font-size:0.9rem;
}
.footer {
    height:80px;
    display:inline-block;
}
.policyList {
    display:inline-block;
    margin-left:20px;
    padding-top:50px;
}
.footer li:nth-child(n+2)::before {
    content : "|";
}
.policyContent {
    display:inline-block;
}
/* 각 메뉴별 읽어올 이름 숨김 창 */
.readable-hidden {
    position: absolute;
    width:1px;
    height: 1px;
    overflow:hidden;
    margin:-1px;
    clip:rect(0 0 0 0);
}